@model IEnumerable<Equipment>

<h1>Available Equipment</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Equipment ID</th>
            <th>Type</th>
            <th>Description</th>
            <th>Available</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var equipment in Model)
        {
            <tr class="table-success">
                <td>@equipment.Id</td>
                <td>@equipment.Type</td>
                <td>@equipment.Description</td>
                <td>Yes</td>
            </tr>
        }
    </tbody>
</table>
